{% comment %} {% load static %}<!DOCTYPE html>
<html>
  <head>
      {% block title_outer %}
      <title>EdTechHackathon</title>
      {% endblock %}
      {% block meta %}
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      {% endblock %}

      {% block stylesheets %}
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
      {% endblock %}

      {% block extra_head %}
      {% endblock %}
  </head>
  <body>
    {% block body %}
    {% block content %}{% endblock %}
    {% endblock %}

    {% block extra_foot %}{% endblock %}

    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    {% block javascript %}{% endblock %}
  </body> {% endcomment %}

{% comment %} </html> {% endcomment %}

{% load static %}<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>ぐ〜たい君</title>
    <style type="text/css">
      body {
         margin: 40px;   /* 外側の余白を40pxにする */
         padding: 0;      /* 内側の余白を消す(念のため) */
      }
      </style>
  </head>
  <body>
          {% comment %} <hr class="mt-0 mb-4"> {% endcomment %}
          {% block content %}
          {% endblock %}
        {% comment %} </div> {% endcomment %}
</html>