{% extends 'myapp/base.html' %}


{% block content %}

    <ul>
        <li><a href="{% url 'upload' %}">upload</a></li>
    </ul>
    <ul>
        <li><a href="{% url 'input_url' %}">input</a></li>
    </ul>


    <p>保存済みのファイル:</p>
    <ul>
        {% for obj in documents %}
        <li>
            <a href="{{ obj.document.url }}">{{ obj.document.name }}</a>
            <small>(Uploaded at: {{ obj.uploaded_at }})</small>
        </li>
        {% endfor %}
    </ul>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/99goR3uprJg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
{% endblock content %}
